<div class="menuholder">
        <ul class="menu slide">
            <li><a href="#"><img src="/assets/Dashboard.png" alt="" style="vertical-align:middle; margin-right:5px">Dashboard</a>
            </li>
            <li><a href="#"><img src="/assets/Products.png" alt="" style="vertical-align:middle; margin-right:5px">Products</a>
                 
            </li>
            <li><a href="#"><img src="/assets/Rating-Factors.png" alt="" style="vertical-align:middle; margin-right:5px">Rating Factor</a>
               
            </li>
            <li><a href="#"><img src="/assets/Rules.png" alt="" style="vertical-align:middle; margin-right:5px">Rules</a>
             
            </li>
            <li><a href="#"><img src="/assets/Reports.png" alt="" style="vertical-align:middle; margin-right:5px">Reports</a></li>
            <li><a href="#"><img src="/assets/downstream-feeds.png" alt="" style="vertical-align:middle; margin-right:5px">Downstream Feeds</a></li>
            <li><a href="#"><img src="/assets/Administration.png" alt="" style="vertical-align:middle; margin-right:5px">Administration</a></li>
        </ul>
        <div class="back"></div>
        <div class="shadow"></div>
</div>
    

    
 



  
 
   
